# Activer l'autorisation
AuthType Basic

# Définir le message d'invite affiché dans la fenêtre de connexion
AuthName "Acces protege - Veuillez entrer le mot de passe."

# Spécifier l'emplacement du fichier de mots de passe
# **ATTENTION : MODIFIEZ LE CHEMIN CI-DESSOUS** pour pointer vers l'emplacement reel de votre fichier .htpasswd
# Il est fortement recommande de placer .htpasswd EN DEHORS de la racine de votre site web (public_html, www, htdocs, etc.)
AuthUserFile .htpasswd

# Restreindre l'acces a tous les utilisateurs valides definis dans le fichier .htpasswd
Require valid-user
